/*Caract. Iconos. */

.cn-icon::before {
		display: inline-block;
		width: 30px;
		text-align: center;
		text-transform: none;
		font-weight: normal;
		font-style: normal;
		font-variant: normal;
		font-family: 'fontello';
		line-height: 1;
		speak: none;
		-webkit-font-smoothing: antialiased;
}

/*botones pagina clientes*/
<style>

		#main-container{
			padding-top: 200px;
			text-align: center;
		}

		.cbtn{

			text-decoration: none;
			border-radius: 20px;
			display: inline-block;
			padding: 10px 30px;
			text-decoration: none;
			text-shadow: 0 1px 0 rgba(255,255,255,0.3);
			box-shadow: 0 1px 1px rgba(0,0,0,0.3); 
		}

/*boton verde*/
/*566473*/
		.cbtn-ver{
			color: white;
			background-color: #3394FF;
		}
		.cbtn-ver:hover{
			background-color: #FFFFFF;	
		}
		.cbtn-ver:active{
			background-color: white;
		}

		.cn-icon-ver::before {
		content: "\e800" 
}

		.cbtn-registrar{
			color: white;
			background-color: #3394FF;
		}
		.cbtn-registrar:hover{
			background-color: #FFFFFF;	
		}
		.cbtn-registrar:active{
			background-color: white;
		}

		.cn-icon-registrar::before {
		content: "\e83b" 
}

span{
font-size: 19px;
}

/*boton rojo*/

		.cbtn-eliminar{
			color: white;
			background-color: #E34242;
		}
		.cbtn-eliminar:hover{
			background-color: #FFFFFF;	
		}
		.cbtn-eliminar:active{
			background-color: white;
		}

	.cn-icon-eliminar::before {
		content: "\f1f8"

}

	.cn-icon-cancelar::before {
		content: "\e80e"

}

.cn-icon-historial::before {
		content: "\f115"
}

.cn-icon-actualizar::before {
		content: "\f115"
}
	</style>


	/**/


/*botones pagina infoclientes*/
<style>

		#main-container{

			padding-top: 200px;
			text-align: center;
		}

		.nbtn{

			text-decoration: none;
            margin: -1px 30px 20px;
			border-radius: 40px;
			display: inline-block;
			overflow: hidden;
			padding: 20px 20px;
			text-shadow: 0 1px 0 rgba(255,255,255,0.3);
			box-shadow: 0 1px 1px rgba(0,0,0,0.3); 
		}

/*boton vagregar nuevo cliente*/
		.nbtn-ver{
			color: white;
			background-color: #3394FF;
		}
		.nbtn-ver:hover{
			background-color: #FFFFFF;	
		}
		.nbtn-ver:active{
			background-color: #29962A;
		}

		.nn-icon-ver::before {
		content: "\f234"
}

	.nn-icon-actualizar::before {
		content: "\e84d"
}


	.nn-icon-mas::before {
		content: "\e80b"
}

/*Boton para la pagina de nuevo cliente*/

.ncbtn{
    
    width:500px; height:100px
			text-decoration: none;
            margin: 10px 10px 20px;
			border-radius: 40px;
			display: inline-block;
			overflow: hidden;
			padding: 10px 10px;
			text-shadow: 0 1px 0 rgba(255,255,255,0.3);
			box-shadow: 0 1px 1px rgba(0,0,0,0.3); 
		}

/*boton vagregar nuevo cliente*/
		.ncbtn-ver{
			color: white;
			background-color: #3394FF;
		}
		.ncbtn-ver:hover{
			background-color: #FFFFFF;	
		}
		.ncbtn-ver:active{
			background-color: #29962A;
		}

		.nnc-icon-ver::before {
		content: "\e83b"
}

.nnc-icon-nuevacon::before {
		content: "\f0fa"
}

		.cn-icon-archivos::before {
		content: "\f0ea"
}

.ncbtn-eliminar{
			color: white;
			background-color: #E34242;
		}
		.ncbtn-eliminar:hover{
			background-color: #FFFFFF	
		}
		.ncbtn-eliminar:active{
			background-color: white;
		}
/*boton del agendar hora y visualizar historial*/
.abtn-agendar{
			color: white;
			background-color: #C52D8B;
			/*#5476A6 color del tituloo*/
		}


.cn-icon-agendar::before {
		content: "\e81d"
}


.cn-icon-imprimir::before {
		content: "\e828"
}

.abtn-imprimir{
			color: white;
			background-color: #5476A6;
			/*#5476A6 color del tituloo*/
		}

.box-info-li{
	width: 470px;
}
