/*cajas de texto*/

.box-blue {
	margin: 10px 30px 10px;
	overflow:hidden;
	padding:20px;
	-webkit-border-radius: 5px;
        border-radius: 10px;
        width: 500px;
        height: 5px;
}

.box-blue {
	background-color:#d8ecf7;
	border:1px solid #afcde3;
}


.box-info {
	width: 300px; 
	height: 5px
	text-align: left;
	padding:10px;
	-webkit-border-radius: 5px;
        border-radius: 10px;
}

.box-info-mediano{
	width: 500px; 
	height: 5px
	text-align: left;
	padding:10px;
	-webkit-border-radius: 5px;
        border-radius: 10px;
}

.box-info-xl {
	width: 650px; 
	height: 5px
	text-align: left;
	padding:10px;
	-webkit-border-radius: 5px;
        border-radius: 10px;
}

.box-info-xs {
	width: 200px; 
	height: 5px
	text-align: left;
	padding:10px;
	-webkit-border-radius: 5px;
        border-radius: 10px;
}

.box-info {
	background-color:#d8ecf7;
	border:1px solid #afcde3;
}

.box-tabla {
   width: 90px;
   height: 30px;
   background-color:#d8ecf7;
  border:1px solid #afcde3;
}

.textarea1 {
  height: 246px ;
   width: 500px;
   background-color:#d8ecf7;
  border:1px solid #afcde3;
}
/*icono**/

.nn-icon::before {
		display: inline-block;
		width: 20px;
		text-align: right;
		text-transform: none;
		font-weight: normal;
		font-style: normal;
		font-variant: normal;
		font-family: 'fontello';
		line-height: 1;
		speak: none;
		-webkit-font-smoothing: antialiased;
}
