/*
	Color fondo: #632432;
	Color header: #246355;
	Color borde: 0F362D;
	Color iluminado: 369681;
*/

/*************/

/*Formato de tabla general, colores, etc. */
.nav {
  z-index: 9;
}

.bs-example{
  margin: 20px;        
}

.img-table {
  border-radius: 100%;
}

body {
  
  text-align: center;
  padding: 15px;
  width: auto;
}


table {
  /* border-collapse: separate; */
  border-spacing: 0 5px;
  width: auto;
  
}

.eo-fullcalendar{
  width:50%;    
}

/*bordado transparente de las tablas. */
.cont{
  width: auto;
 height: auto;
  margin: auto;
  color: black;
  padding: 60px 50px 0px 50px;
  border-radius: 60px;
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.8);
}

/*bordado transparente de las tablas. */
.cont2{
  float: right;
  width: 1500px;
}

.thead2 {
  background-color: white;
  color: white;
  width: auto;

}

thead th {
  background-color:rgb(196, 56, 142);
  color: white;
  width: auto;
}


tbody td {
  background-color: #EEEEEE;
}

tfoot th {
  background-color:rgb(196, 56, 142);
  color: white;
}

tr td:first-child,
tr th:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

tr td:last-child,
tr th:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}