
.icon-eye:before { content: '\e800'; } /* '' */
.icon-eye-off:before { content: '\e801'; } /* '' */
.icon-lock-open:before { content: '\e802'; } /* '' */
.icon-home:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */
.icon-mail:before { content: '\e805'; } /* '' */
.icon-heart:before { content: '\e806'; } /* '' */
.icon-heart-empty:before { content: '\e807'; } /* '' */
.icon-star:before { content: '\e808'; } /* '' */
.icon-user:before { content: '\e809'; } /* '' */
.icon-users:before { content: '\e80a'; } /* '' */
.icon-plus-circled:before { content: '\e80b'; } /* '' */
.icon-plus:before { content: '\e80c'; } /* '' */
.icon-cancel-circled2:before { content: '\e80d'; } /* '' */
.icon-cancel-circled:before { content: '\e80e'; } /* '' */
.icon-cancel:before { content: '\e80f'; } /* '' */
.icon-ok-circled2:before { content: '\e810'; } /* '' */
.icon-ok-circled:before { content: '\e811'; } /* '' */
.icon-ok:before { content: '\e812'; } /* '' */
.icon-camera-alt:before { content: '\e813'; } /* '' */
.icon-camera:before { content: '\e814'; } /* '' */
.icon-picture:before { content: '\e815'; } /* '' */
.icon-videocam:before { content: '\e816'; } /* '' */
.icon-video:before { content: '\e817'; } /* '' */
.icon-th-large:before { content: '\e818'; } /* '' */
.icon-th-list:before { content: '\e819'; } /* '' */
.icon-th:before { content: '\e81a'; } /* '' */
.icon-info-circled:before { content: '\e81b'; } /* '' */
.icon-help-circled:before { content: '\e81c'; } /* '' */
.icon-calendar:before { content: '\e81d'; } /* '' */
.icon-cog-alt:before { content: '\e81e'; } /* '' */
.icon-cog:before { content: '\e81f'; } /* '' */
.icon-doc:before { content: '\e820'; } /* '' */
.icon-folder-open:before { content: '\e821'; } /* '' */
.icon-folder:before { content: '\e822'; } /* '' */
.icon-attention:before { content: '\e823'; } /* '' */
.icon-attention-circled:before { content: '\e824'; } /* '' */
.icon-location:before { content: '\e825'; } /* '' */
.icon-pencil:before { content: '\e826'; } /* '' */
.icon-edit:before { content: '\e827'; } /* '' */
.icon-print:before { content: '\e828'; } /* '' */
.icon-retweet:before { content: '\e829'; } /* '' */
.icon-comment:before { content: '\e82a'; } /* '' */
.icon-chat:before { content: '\e82b'; } /* '' */
.icon-bell:before { content: '\e82c'; } /* '' */
.icon-down-big:before { content: '\e82d'; } /* '' */
.icon-left-big:before { content: '\e82e'; } /* '' */
.icon-play-circled2:before { content: '\e82f'; } /* '' */
.icon-right-big:before { content: '\e830'; } /* '' */
.icon-up-big:before { content: '\e831'; } /* '' */
.icon-right-hand:before { content: '\e832'; } /* '' */
.icon-left-hand:before { content: '\e833'; } /* '' */
.icon-up-hand:before { content: '\e834'; } /* '' */
.icon-down-hand:before { content: '\e835'; } /* '' */
.icon-zoom-out:before { content: '\e836'; } /* '' */
.icon-zoom-in:before { content: '\e837'; } /* '' */
.icon-resize-small:before { content: '\e838'; } /* '' */
.icon-resize-full:before { content: '\e839'; } /* '' */
.icon-logout:before { content: '\e83a'; } /* '' */
.icon-login:before { content: '\e83b'; } /* '' */
.icon-flash:before { content: '\e83c'; } /* '' */
.icon-cloud:before { content: '\e83d'; } /* '' */
.icon-globe:before { content: '\e83e'; } /* '' */
.icon-signal:before { content: '\e83f'; } /* '' */
.icon-user-add:before { content: '\e840'; } /* '' */
.icon-users-1:before { content: '\e841'; } /* '' */
.icon-user-1:before { content: '\e842'; } /* '' */
.icon-login-1:before { content: '\e843'; } /* '' */
.icon-logout-1:before { content: '\e844'; } /* '' */
.icon-forward:before { content: '\e845'; } /* '' */
.icon-upload:before { content: '\e846'; } /* '' */
.icon-download:before { content: '\e847'; } /* '' */
.icon-export:before { content: '\e848'; } /* '' */
.icon-briefcase:before { content: '\e849'; } /* '' */
.icon-scissors:before { content: '\e84a'; } /* '' */
.icon-spin5:before { content: '\e84b'; } /* '' */
.icon-spin4:before { content: '\e84c'; } /* '' */
.icon-spin3:before { content: '\e84d'; } /* '' */
.icon-ie:before { content: '\e84e'; } /* '' */
.icon-chrome:before { content: '\e84f'; } /* '' */
.icon-opera:before { content: '\e850'; } /* '' */
.icon-spin2:before { content: '\e851'; } /* '' */
.icon-spin1:before { content: '\e852'; } /* '' */
.icon-trash-1:before { content: '\e853'; } /* '' */
.icon-trash-empty:before { content: '\e854'; } /* '' */
.icon-guidedog:before { content: '\e855'; } /* '' */
.icon-align-justify:before { content: '\e856'; } /* '' */
.icon-gift:before { content: '\e857'; } /* '' */
.icon-calendar-1:before { content: '\e858'; } /* '' */
.icon-android:before { content: '\e859'; } /* '' */
.icon-duckduckgo:before { content: '\e85a'; } /* '' */
.icon-github-1:before { content: '\e85b'; } /* '' */
.icon-blind-1:before { content: '\e85c'; } /* '' */
.icon-move:before { content: '\f047'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-up-circled:before { content: '\f0aa'; } /* '' */
.icon-down-circled:before { content: '\f0ab'; } /* '' */
.icon-resize-full-alt:before { content: '\f0b2'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-table:before { content: '\f0ce'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-paste:before { content: '\f0ea'; } /* '' */
.icon-lightbulb:before { content: '\f0eb'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.icon-user-md:before { content: '\f0f0'; } /* '' */
.icon-stethoscope:before { content: '\f0f1'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-ambulance:before { content: '\f0f9'; } /* '' */
.icon-medkit:before { content: '\f0fa'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-quote-right:before { content: '\f10e'; } /* '' */
.icon-spinner:before { content: '\f110'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-smile:before { content: '\f118'; } /* '' */
.icon-frown:before { content: '\f119'; } /* '' */
.icon-meh:before { content: '\f11a'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-keyboard:before { content: '\f11c'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-reply-all:before { content: '\f122'; } /* '' */
.icon-direction:before { content: '\f124'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-play-circled:before { content: '\f144'; } /* '' */
.icon-minus-squared-alt:before { content: '\f147'; } /* '' */
.icon-level-up:before { content: '\f148'; } /* '' */
.icon-level-down:before { content: '\f149'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-pencil-squared:before { content: '\f14b'; } /* '' */
.icon-link-ext-alt:before { content: '\f14c'; } /* '' */
.icon-doc-inv:before { content: '\f15b'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-down:before { content: '\f175'; } /* '' */
.icon-up:before { content: '\f176'; } /* '' */
.icon-left:before { content: '\f177'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-linux:before { content: '\f17c'; } /* '' */
.icon-dribbble:before { content: '\f17d'; } /* '' */
.icon-female:before { content: '\f182'; } /* '' */
.icon-male:before { content: '\f183'; } /* '' */
.icon-sun:before { content: '\f185'; } /* '' */
.icon-bug:before { content: '\f188'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */
.icon-mail-squared:before { content: '\f199'; } /* '' */
.icon-child:before { content: '\f1ae'; } /* '' */
.icon-paw:before { content: '\f1b0'; } /* '' */
.icon-tree:before { content: '\f1bb'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-file-word:before { content: '\f1c2'; } /* '' */
.icon-file-excel:before { content: '\f1c3'; } /* '' */
.icon-file-powerpoint:before { content: '\f1c4'; } /* '' */
.icon-file-image:before { content: '\f1c5'; } /* '' */
.icon-file-archive:before { content: '\f1c6'; } /* '' */
.icon-file-audio:before { content: '\f1c7'; } /* '' */
.icon-file-video:before { content: '\f1c8'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-share-squared:before { content: '\f1e1'; } /* '' */
.icon-binoculars:before { content: '\f1e5'; } /* '' */
.icon-newspaper:before { content: '\f1ea'; } /* '' */
.icon-wifi:before { content: '\f1eb'; } /* '' */
.icon-calc:before { content: '\f1ec'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-eyedropper:before { content: '\f1fb'; } /* '' */
.icon-birthday:before { content: '\f1fd'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-diamond:before { content: '\f219'; } /* '' */
.icon-street-view:before { content: '\f21d'; } /* '' */
.icon-heartbeat:before { content: '\f21e'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-battery-4:before { content: '\f240'; } /* '' */
.icon-battery-3:before { content: '\f241'; } /* '' */
.icon-battery-2:before { content: '\f242'; } /* '' */
.icon-battery-1:before { content: '\f243'; } /* '' */
.icon-battery-0:before { content: '\f244'; } /* '' */
.icon-commenting-o:before { content: '\f27b'; } /* '' */
.icon-blind:before { content: '\f29d'; } /* '' */
.icon-address-book:before { content: '\f2b9'; } /* '' */
.icon-address-book-o:before { content: '\f2ba'; } /* '' */
.icon-shower:before { content: '\f2cc'; } /* '' */
.icon-bath:before { content: '\f2cd'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */